<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Url Shortener</h1>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Your Url</label>
            <input type="url" required class="form-control mr-4 my-2 col" id="fullUrl" name="fullUrl" placeholder="your url here">
            <button type="submit" class="btn btn-primary">Generate</button>
        </form>
        <table class="table table-striped w-100 table-responsive">
            <thead>
                <tr>
                    <th scope="col">Long Url</th>
                    <th scope="col">Short Url</th>
                    <th scope="col">No of clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(url => { %>
                    <tr>
                        <td>
                            <a href=" <%= url.full %> ">
                                <%= url.full %>
                            </a>
                        </td>
                        <td>
                            <a href=" <%= url.short %> ">
                                <%= url.short %>
                            </a>
                        </td>
                        <td>
                            <%= url.clicks %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>